<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>768806242194-n0gt2sejcpedfb1os4sv0vqe0bblca0b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768806242194-n0gt2sejcpedfb1os4sv0vqe0bblca0b</string>
	<key>API_KEY</key>
	<string>AIzaSyBIuaaMp7ROP2CluTdeaFkda1fEsXO97LY</string>
	<key>GCM_SENDER_ID</key>
	<string>768806242194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobidroid.schoolChildren</string>
	<key>PROJECT_ID</key>
	<string>school-app-1d8ab</string>
	<key>STORAGE_BUCKET</key>
	<string>school-app-1d8ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768806242194:ios:18c02f4eb7b8315d</string>
	<key>DATABASE_URL</key>
	<string>https://school-app-1d8ab.firebaseio.com</string>
</dict>
</plist>